<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="0102" android:versionName="1.2" package="de.klapperich.scanandrest">
  <uses-sdk android:minSdkVersion="15" />
  <application android:label="ScanAndREST">
  </application>
</manifest>